@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a, a:active, a:link, a:hover, a:visited {
  text-decoration: none;
  color: rgb(135, 135, 135, 1.0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0;
  padding: 0px 16px;
}

.left-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.right-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  background-color: rgb(238, 238, 238, 1.0);
  display: flex;
  flex: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}