.header  {
  align-items: center;
  background: papayawhip;
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  padding: 8px;
}

.left-links,
.right-links {
  flex: 2;
}

.left-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-links > ul li:not(:first-child) {
  margin-left: 8px;
}

.right-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-links > ul li:not(:last-child) {
  margin-right: 8px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: tomato;
  font-size: 48px;
  font-weight: 900;
  padding: 4px 32px;
  flex: 1;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

a {
  background: white;
  font-size: 22px;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}